<ion-view view-title='Explore'>
  <ion-nav-buttons side="right">
    <div ng-controller="ItemCtrl as itemCtrl">
      <button class="button button-icon ion-search" ng-click="itemCtrl.showFilterBar()">
      </button>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <div style="padding: 5px; border: solid black 2px">
      <ti-segmented-control>
        <ti-segmented-control-button class="button-positive" title="'Easy'"></ti-segmented-control-button>
        <ti-segmented-control-button class="button-balanced" title="'Medium'"></ti-segmented-control-button>
        <ti-segmented-control-button class="button-assertive" title="'Hard'"></ti-segmented-control-button>
        <ti-segmented-control-button class="button-royal" title="'All'" selected></ti-segmented-control-button>
      </ti-segmented-control>
    </div>

  </ion-content>
</ion-view>