<ion-view view-title="Explore">
  <ion-content>

    <!--
    repeat trail data this way
    <div ng-repeat="">
    -->
    <div class="card" ng-click=""> <!--click to trail page-->
      <ion-item style="margin: 10px; margin-right: 2px;">
        <h1>trail name</h1>
        <p> <img src="img/ionic.png" class="imgStretch"/> </p>
        <p> difficulty color <i class="icon icon ion-star" ng-click=""></i> </p>
      </ion-item>
    </div>
    <div class="card" ng-click="">
      <ion-item style="margin: 10px; margin-left: 2px;">
        <h1>trail name</h1>
        <p> <img src="img/ionic.png" class="imgStretch"/> </p>
        <p> difficulty color <i class="icon icon ion-star" ng-click=""></i> </p>
      </ion-item>
    </div>
    <!--
    </div>
    -->

  </ion-content>
</ion-view>