<ion-view >
  <ion-content>
	<div style = 
		"background-color: #90C3D4; 
		display: flex;
		align-items: center;
		justify-content: center;		
		height: 100px;" >
		<h2 style = "color: #FFFFFF;">Settings</h2>
	</div>
  
	<div style = "height: 50px"></div>
	
	<ion-list>
	
	<ion-list-header style = "font-size: 120%">
		Location Settings
	</ion-list-header>
	<ion-toggle ng-model="prefs.uselocation"> 
		Use Location
	</ion-toggle>
	<br>
	
	<ion-list-header style = "font-size: 120%">
		Notifications
	</ion-list-header>
	<ion-toggle ng-model = "prefs.notifications.news" > 
		News
	</ion-toggle>
	<br>
	
	<ion-item href="#/app/history">
	<button class="button button-full button-secondary button-large">
		History
	</button>
	</ion-item>
	
	</ion-list>
	
  </ion-content>
</ion-view>
