<ion-view >
  <ion-content>
	<div style = 
		"background-color: #90C3D4; 
		display: flex;
		align-items: center;
		justify-content: center;		
		height: 100px;" >
		<h2 style = "color: #FFFFFF;">Settings</h2>
	</div>
  
	<ion-list>
	
	<ion-list-header style = "font-size: 120%">
		Location Settings
	</ion-list-header>
	<ion-checkbox ng-model="settings.allowlocation"> 
		Use Location
	</ion-checkbox>
	<br>
	
	<ion-list-header style = "font-size: 120%">
		Notifications
	</ion-list-header>
	<ion-checkbox ng-model = "settings.notifications.news" > 
		News
	</ion-checkbox>
	<br>
	
	<ion-item href="#history">
	<button class = "button secondary full">
		History
	</button>
	</ion-item>
	
	</ion-list>
	
  </ion-content>
</ion-view>
