/* Start Page Styling */
.start-button {
  font-family:  Verdana, sans-serif;
  top:          60%;
  position:     absolute;
  z-index:      100;
}
.mainbg {
  background-color: #4d4d4d;
}
.imgStretch {
  position:   relative;
  border:     5px solid black;
  z-index:    50;
  height:     100%;
  width:      100%;
}
.mainslide {
  height:   100vh;
  width:    auto;
}

#cartodbMap {
  height: 100%;
  width: 100%;
  background: black;
  margin: 0 auto 0 auto;
}

/*** Explore Page ***/
/* Segment Bar Styling */
#segmentButton {
  max-height: 30px;
  height: 30px;
  font-family: Verdana, sans-serif;
  border-radius: 0;
}
/* Explore Page trail list styling */
.cardTitlegreen {
  background-color: #33CD5F;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}
.cardTitleblue {
  background-color: #387EF5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}
.cardTitleblack {
  background-color: #444444;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}
.exploreCardTitleText {
  color: whitesmoke;
  font-family: Verdana,sans-serif;
}
.favourite-button {
  background-color: transparent;
  border: 0;
  font-size: 25px;
  width: 40px;
}
.map-card {
  margin: 0;
  padding: 0;
}
/* Note that including .item-content here is a workaround
to change padding on ion-list items */
.item-card .item-content {
  margin: 0;
  padding: 16px;
  padding-bottom: 0px;
  border-top: 0;
  border-bottom: 0;
}