/* Empty. Add your own CSS if you like */
.start-button {
  font-family:  Verdana, sans-serif;
  top:          60%;
  position:     absolute;
  z-index:      100;
}
.mainbg {
  background-color: #4d4d4d;
}
.imgStretch {
  position:   relative;
  border:     5px solid black;
  z-index:    50;
  height:     100%;
  width:      100%;
}

.main-card {
  padding: 2px;
  text-align: center;
  position: relative;
}
.main-card-title {
  opacity: 0.77;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.main-card-title-text {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
  color: whitesmoke;
  opacity: 1;
}
.main-card-content-text {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.main-card-footer {
  opacity: 0.77;
  text-align: center;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}